<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>ATMs</title>
    </head>
    <body>
        <section id="start" class="app start screen">
            <header>
                <h1>PhoneGap</h1>
            </header>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </section>

        <section id="header" class="header">
            <nav><a href="#back" class="button back">wróć</a></nav>
            <h1><a href="#home">Bankomaty</a></h1>
        </section>

        <section id="provinces" class="provinces screen deactive">
            <header>
                <h2>Województwa</h2>
            </header>
            <div id="listProvinces">
                <input placeholder="Wpisz województwo by wyszukać" class="search">
                <ul class="list">
                    <li><a class="province" href="#">Dolnośląskie</a></li>
                    <li><a class="province" href="#">Kujawsko-Pomorskie</a></li>
                    <li><a class="province" href="#">Lubelskie</a></li>
                    <li><a class="province" href="#">Lubuskie</a></li>
                    <li><a class="province" href="#">Łódzkie</a></li>
                    <li><a class="province" href="#">Małopolskie</a></li>
                    <li><a class="province" href="#">Mazowieckie</a></li>
                    <li><a class="province" href="#">Opolskie</a></li>
                    <li><a class="province" href="#">Podkarpackie</a></li>
                    <li><a class="province" href="#">Podlaskie</a></li>
                    <li><a class="province" href="#">Pomorskie</a></li>
                    <li><a class="province" href="#">Śląskie</a></li>
                    <li><a class="province" href="#">Świętokrzyskie</a></li>
                    <li><a class="province" href="#">Warmińsko-Mazurskie</a></li>
                    <li><a class="province" href="#">Wielkopolskie</a></li>
                    <li><a class="province" href="#">Zachodniopomorskie</a></li>
                </ul>
            </div>
        </section>

        <section id="province" class="province screen deactive">
            <header>
                <h2/>
            </header>
            <div id="listCities">
                <input placeholder="Wpisz miasto by wyszukać" class="search">
                <ul class="list">
                </ul>
            </div>
        </section>

        <section id="city" class="city screen deactive">
            <header>
                <h2/>
            </header>
            <article>
                <ul>
                </ul>
            </article>
        </section>

        <script id="province-template" type="text/x-handlebars-template">
            {{#each data}}
                <li><a href="#{{city}}" class="city">{{city}}</a></li>
            {{/each}}
        </script>
        
        <script id="cities-template" type="text/x-handlebars-template">
            {{#url data}}
                <li>{{url}}</li>
            {{/url}}
        </script>

        <script id="city-template" type="text/x-handlebars-template">
            <img src="img/mapa.png" />
            <ul>
                <li>Bank: {{bank}}</li>
                <li>Adres: {{address}}</li>
                {{if accessibility}}
                <li>Dostępność: {{accessibility}}</li>
                {{/if}}
                <li>Numer bankomatu: {{id}}</li>
                {{if deposit}}
                <li>{{deposit}}</li>
                {{/if}}
            </ul>
        </script>

        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/zepto.min.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
        <script type="text/javascript" src="js/list.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
